<% layout('base') -%>

<% stylesheet('/css/game.css') -%>
<% script('/js/game.js') -%>

<div class="container">
	<h2>gameId: <%= game.id %></h2>

	<div class="row">
		<div class="board" style="display:none">
			<table>
				<tr><td data-x="0"></td><td data-x="1"></td><td data-x="2"></td></tr>
				<tr><td data-x="3"></td><td data-x="4"></td><td data-x="5"></td></tr>
				<tr><td data-x="6"></td><td data-x="7"></td><td data-x="8"></td></tr>
			</table>
		</div>
		<div class="players">
			<ul></ul>
		</div>
	</div>
	<div class="row">
		<button class="reset">Reset</button>
		<a href="/">Back to Lobby</a>
	</div>
</div>
<script>
	var gameId = '<%= game.id %>';
</script>
